@import url('https://fonts.googleapis.com/css?family=Tinos:700|Tinos:400');

* {
    font-family: 'Tinos';
    justify-self: center;
}

body {
    width: 100;
    color: black;
}

body div {
    text-align: center;
}

h1 {
    font-size: 2.8rem;
    background: #ebebeb;
    padding: 1vh 1vw;
    border-radius: 20px;
}

h2 {
    font-size: 1.8rem;
}

h4 {
    text-align: center;
}

.loreblock p, .linklist p, #leftcontainer p {
    text-align: center;
    font-size: 1.15rem;
}

.linklist p a {
    text-decoration: none;
    color: black;
}

h2 a {
    color: black;
}

.linklist .broken a:hover {
    text-decoration: underline;
    color: red;
}

.linklist p a:hover, h2 a:hover {
    text-decoration: underline;
    color: #0000ff;
}

.linklist a:visited, h2 a:visited {
    color: black;
}

#bodycontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "leftdiv mid rightdiv";
}

#midcontainer {
    width: 30vw;
    background-color: #D0E3FB;
    padding: 0px 20px;
    border-radius: 20px;
    grid-area: mid;
}

#midcontainer hr {
    width: 28vw;
    height: 0.1vh;
    background: black;
    border-color: black;
}

#leftcontainer {
    width: 30vw;
    background-color: #D0E3FB;
    border-radius: 20px;
    grid-area: leftdiv;
}

#rightcontainer {
    width: 30vw;
    background-color: #D0E3FB;
    border-radius: 20px;
    grid-area: rightdiv;
}

@media screen and (max-width: 450px) {
    h1 {font-size: 2.5rem; text-align: center;}
    h2 {font-size: 1.3rem;}
    h3 {font-size: 1rem;}
    #leftcontainer .linklist p,
    #midcontainer .linklist p,
    #rightcontainer .linklist p,
    .loreblock p {
        font-size: 0.95rem;
    }
    #leftcontainer .linklist p a,
    #midcontainer .linklist p a,
    #rightcontainer .linklist p a,
    h2 a {
    color: #0000ff;}
    #leftcontainer .linklist .broken a,
    #midcontainer .linklist .broken a,
    #rightcontainer .linklist .broken a {
        color: red;
    }
}